%div.salesall
  %h2 LOGISTICS
  .leftsidetext
    %p{:style=>'font-size:15px'} Interstate Imaging is now pleased to provide equipment sales brokerage services for our customers. 
    .textwrap
      = image_tag("imaging sales make money.gif", :alt=> "More Money!")
    %p If you are considering trading-in any of their existing imaging equipment to an OEM manufacturer when purchasing new equipment or simply desire to dispose of it, we strive to get you more money for your equipment through the utilization of our extensive network of industry contacts. 
    %p We take care of everything, including the removal, thereby eliminating the hassle of trying to sell this equipment yourself via unknown or unscrupulous brokers.
    %p Some of the imaging equipment that we have sold includes the following:
  .sales1
    %ul
      %li CT’s
      %li MRI’s
      %li Cath Lab’s
      %li Radiographic rooms
      %li R/F rooms
      %li Nuclear Medicine Cameras
      %li Cysto Rooms
      %li DR Detectors
  .sales2
    %ul
      %li Digital Portables
      %li CR Readers
      %li Ultrasounds
      %li Bone Densitometers
      %li CCD Cameras
      %li Digital Mammography
      %li C-Arms
      %li PET/CT
%br/
%div{style: "text-align:center; margin-top:-20px"}
  If your facility or practice would benefit from our equipment brokerage services, please contact:
  %br{style: "line-height:30px"} 
  %b Andrew Brinkman
  %br
  Director of Logistics
  %br
  (502) 640-7786
  %br
  %a{:href=>"mailto:ABrinkman@interstateimaging.net"} ABrinkman@interstateimaging.net

