%div.salesall
  %h2 What We Buy
  Here are the types of equipment and brands that we buy. If you have any of the following,
  %b>
    = link_to "please reach out to us today!", '/Request_Quote'
  Remember - Shipping is free!
  .leftsidetext
    .textwrap
      = image_tag("imaging sales make money.gif", :alt=> "More Money!")
    %p If you are considering trading-in any of their existing imaging equipment to an OEM manufacturer when purchasing new equipment or simply desire to dispose of it, we strive to get you more money for your equipment through the utilization of our extensive network of industry contacts. 
    %p We take care of everything, including the removal, thereby eliminating the hassle of trying to sell this equipment yourself via unknown or dishonest brokers.
  .allmysales
    .sales1
      %b CT's
      %ul
        %li GE
        %li Siemens
        %li Philips
      %b CR Cassettes
      %ul
        %li Fuji
        %li AGFA
      %b Digital Mammography
      %ul
        %li Hologic
        %li GE
        %p -We will purchase 2D and 3D units
      %b Cath Lab's
      %ul
        %li GE
        %li Siemens
        %li Philips
      %b Nuclear Medicine Cameras
      %ul
        %li GE
        %li Siemens
        %br  
    .sales2
      %b CR Readers
      %ul
        %li Fuji
        %li Carestream (Kodak)
        %li AGFA
      %b Radiographic Rooms
      %ul
        %li Quantum
        %li Del Medical
        %li Summit
        %li GE
        %p -Floor-mounted and less than 10 yrs only
      %b Bone Density
      %ul
        %li Hologic
        %li GE
      %b PET/CT
      %ul
        %li GE
        %li Siemens
        %li Philips
    .sales3
      %b C-Arms
      %ul
        %li OEC (GE)
        %li Ziehm
      %b Ultrasound's
      %ul
        %li GE
        %li Philips
      %b DR Detectors
      %ul
        %li Canon
        %li Carestream
        %li Shimadzu
        %li AGFA
        %li Konica
        %li Fuji
        %li GE
        %li Siemens
        %li Philips
        %p - Fixed, tethered and wireless
      %b MRI's
      %ul 
        %li GE
        %li Siemens
        %li Philips
%br/
%br/
%div{style: "text-align:center; margin-top:-20px"}
