%div
  .testimonials
    .testimonialleft
      %h6 Local, personalized services minimize downtime
      %h8{style:"margin-bottom:20px"} 350-plus-bed hospital in the Midwest
      %br
      %h8 Interstate Imaging client since 1998
    .testimonialright
      %p{style:'font-size:16px'} “We have many vendors, but few trusted partners.  Interstate Imaging has earned a place as one of those partners.” 
      %p{style:'text-indent:30px; font-size:16px'} - Radiology Director
  .icareimages
    = image_tag("baptist2.jpg", :alt=> "We care about you and your patients!", :style=>"float:none")
  %p A perfectly functioning imaging device produces revenue for a hospital and critically important diagnostic information for its clinicians-but a device that’s not working only provides a host of problems.  Beyond the financial impact, there’s the matter of not being able to get fast answers to life-or-death questions about a patient’s health.  Equipment problems also create morale issues and lead referral sources to look to competitors.
  %p This regional hospital is part of a statewide system that had a contract with a well-known asset management firm.  The slow response and repair times meant that doctors couldn’t get the diagnostic information they needed right away, and patients were forced to reschedule or were sent elsewhere.  The situation was more than frustrating—it was simply unacceptable—and the vendor showed little interest in the hospital’s concerns.
  %p Interstate Imaging arrived initially to service ultrasound equipment.  Hospital management was so pleased with our team’s response time, personalized attention, and ability to minimize downtime that they established multi-year I-CARE Service Agreements.
  %p The hospital’s trust in our team grew.  We subsequently installed three Quantum Radiographic Rooms at a substantially lower cost than comparable OEM equipment.  As they looked for ways to increase workflow while dealing with lower reimbursements, we discussed the efficiency and cost advantages offered by DR detectors.  They implemented our recommendation to purchase Canon RadPRO Digital Portables and Canon DR detector upgrades to their existing radiographic rooms.  To date, they have installed over 40 Canon detectors in their facility.  Management knew that if we recommended and stood behind a particular piece of technology, they could purchase it with confidence.
  %p The hospital continues to purchase equipment from Interstate Imaging.  We've also become their go-to provider for service and maintenance.
