%footer.footer
  %p
    Copyright 
    = Time.now.year
    Interstate Imaging
  %a{:href=>"http://en.wikipedia.org/wiki/Medical_imaging"}>Medical Imaging
  %p We sell:
  %p Indiana imaging devices
  %p Kentucky imaging devices
  %p Illinois imaging devices
  %p Missouri imaging devices
  %p Ohio imaging devices
  %p Louisville imaging devices
  %p Evansville imaging devices
  %p Missouri imaging devices
